.card {
  background-image: url("../../assets/svg/card-background.svg");
  background-size: cover;
  padding: 24px;
  background-color: #ffffff;
  border: 1px solid #fafafb;
  box-shadow: 0px 12px 18px rgba(23, 23, 37, 0.04);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .coin-balance {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title-3 {
      color: #b5b5be;
    }
  }

  .progress-bar {
    background-color: #e2e2ea;
    border-radius: 2.5px;
    height: 5px;
    position: relative;

    &__percent {
      width: 75%;
      height: 5px;
      border-radius: 2.5px;
      background-color: #0062ff;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .link {
      display: flex;
      align-items: center;
      color: #0062ff;
      text-decoration: none;
    }
  }

  .button {
    padding: 18px 24px;
    text-align: center;
    background: #171725;
    border-radius: 4px;

    color: #fff;
  }

  .updated {
    color: #b5b5be;
    text-align: center;
  }
}
